<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#4d7ca2">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{ topUrl }}logo/favicon.png">
    <meta property="og:title" content="{{ siteTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ topUrl }}{{ repos }}/{{ fileName }}" />
    <meta property="og:image" content="{{ topUrl }}logo/logo-large.png" />
    <meta property="og:site_name" content="{{ siteTitle }}" />
    <meta property="og:description" content="{{ siteTitle }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="./css/spectre.min.css" rel="stylesheet" type="text/css">
    <link href="./css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="header">
        <h1 class="header-title"><a href="index.html">{{ siteTitle }}</a></h1>
      </div>
    </header>

    <div class="main">
      <div class="article-list">
        <ul>
          {{#each nav}}
          <li><a href="{{fileName}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <footer>
      <h2><a href="https://github.com/christian-classics-jp/{{ repos }}">この本について(GitHub Repository)</a></h2>
      <h2 class="mt-10"><a href="../">本の一覧へ</a></h2>
    </footer>
  </body>
</html>
